name: Deploy to Surge

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4

      - name: Instalar Surge
        run: npm install -g surge

      - name: Desplegar a Surge
      
        run: surge ./ --domain rafa-itla-prueba.surge.sh --token ${{ secrets.SURGE_TOKEN }}
